{% extends "main.html" %}
{% block tabs %}
<style>
    .md-main,
    .mdx-container {
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }

    .mdx-hero__content {
        color: #fefefe;
        font-weight: 800;
        padding: 50px 16px 16px;
    }

    .md-button {
        color: #fefefe !important;
        margin: 8px 4px;
    }
    .md-flex {
        justify-content: center;
    }

    .md-typeset .md-button:focus, .md-typeset .md-button:hover {
        background-color: #fefefe;
        border-color: #667eea;
        color: #667eea !important;
    }

    @media (max-width: 720px) {
        .mdx-hero__content {
            padding: 16px;
        }
    }
    .mdx-container {
        min-height: calc(100vh - 180px);
    }

    .mdx-container ul > li {
        font-weight: normal;
    }
</style>
<section class="mdx-container">
    <div class="md-flex md-typeset">
        <div class="mdx-hero__content">
            {{ page.content }}
        </div>
    </div>
    <div class="md-flex md-typeset md-buttons">
        <a href="/docs/requirements/" class="md-button">System Requirements</a>
        <a href="/docs/installation/raspberry-pi/" class="md-button">Install on Raspberry Pi</a>
        <a href="/docs/moloch-faq/" class="md-button">View FAQ</a>
    </div>
</section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}    